/.idea/
/build/
/build/4de71a254fb23ea5d9f71c50fe76f176/
/build/app/
/build/flutter_assets/
/build/ios/
/build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
/build/frontend_server.d
/build/last_build_run.json
/build/snapshot_blob.bin.d
